<div class="registrations">
    <input v-if="searchable" type="text" class="form-control" v-model="searchQuery" placeholder="Procurar inscrições por nome, e-mail e informações..."/>
    <table class="table">
        <thead>
            <tr>
                <th class="col-md-5">Nome</th>
                <th class="col-md-2">Tipo de bilhete</th>
                <th class="col-md-2">Data</th>
                <th class="col-md-1 text-center">Ativado</th>
                <th class="col-md-1 text-center"></th>
            </tr>
        </thead>
        <tbody>
            <!-- Loading results -->
            <tr v-if="state.loading">
                <td class="event-info text-center" colspan="4">
                    <spinner :loading="state.loading" message="A carregar inscrições..."></spinner>
                </td>
            </tr>
            <!-- No results -->
            <tr v-if="registrations.length == 0 && !state.loading" class="no-results">
                <td class="event-info text-center" colspan="4">
                    Não existem inscrições neste evento,
                    <router-link class="text-primary" :to="{ name: 'registrations.create', params: { id: eventId } }">crie uma inscrição</router-link>.
                </td>
            </tr>
            <!-- Results -->
            <tr v-if="!state.loading" v-for="registration in registrations">
                <td>
                    <span>{{ registration.user.data.name }}</span>
                    <div class="small text-muted"><strong>E-mail:</strong> {{ registration.user.data.email }}</div>
                    <div class="small text-muted"><strong>Informações:</strong> {{ registration.notes }}</div>
                </td>
                <td>
                    {{ registration.registration_type.data.type }}
                    <span v-show="registration.fined" class="label label-warning label-outline">Multa</span>
                </td>
                <td>
                    {{ registration.created_at | human_diff }}
                </td>
                <td class="text-center">
                    <i :class="['fa', registration.activated ? 'fa-check text-primary' : 'fa-close text-muted']" aria-hidden="true"></i>
                </td>
                <td class="text-center">
                    <div class="btn-group">
                        <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-gear"></i>
                            <span class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li>
                                <a href="#" v-if="!registration.activated" @click="resendEmail(registration)">Reenviar bilhete</a>
                            </li>
                            <li>
                                <a href="#" v-if="!registration.activated" @click="activate(registration)">Registar entrada</a>
                            </li>
                            <li class="divider" role="separator" v-if="!registration.activated"></li>
                            <li>
                                <a href="#" @click="destroy(registration)">Apagar inscrição</a>
                            </li>
                        </ul>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <paginator v-if="!state.loading && paginate" :pagination="state.pagination"></paginator>

    <div class="modal fade" id="delete-registration" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Apagar inscrição</h4>
                </div>
                <div v-if="state.deleteRegistration" class="modal-body">
                    <p class="h5"><strong>Tem a certeza que pretende apagar a seguinte inscrição?</strong></p>
                    <ul>
                        <li><strong>Nome:</strong> {{ state.deleteRegistration.user.data.name }}</li>
                        <li><strong>E-mail:</strong> {{ state.deleteRegistration.user.data.email }}</li>
                        <li v-show="state.deleteRegistration.notes"><strong>Informações:</strong> {{ state.deleteRegistration.notes }}</li>
                    </ul>
                    <span class="text-danger">O bilhete enviado será anulado.</span>
                </div>
                <div class="modal-footer">
                    <form action="registrations" method="POST" @submit.prevent="destroyRegistration(state.deleteRegistration)">
                        <button type="button" class="btn btn-default" :disabled="state.busy" data-dismiss="modal">Cancelar</button>
                        <submit class="btn btn-danger" :busy="state.busy" message="A apagar...">Apagar inscrição</submit>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="activate-registration" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Registrar entrada</h4>
                </div>
                <div v-if="state.activateRegistration" class="modal-body">
                    <p class="h5">
                        <strong>Tem a certeza que pretende registar a entrada da seguinte inscrição?</strong>
                    </p>
                    <ul>
                        <li>
                            <strong>Nome:</strong> {{ state.activateRegistration.user.data.name }}</li>
                        <li>
                            <strong>E-mail:</strong> {{ state.activateRegistration.user.data.email }}</li>
                        <li v-show="state.activateRegistration.notes">
                            <strong>Informações:</strong> {{ state.activateRegistration.notes }}</li>
                    </ul>
                    <span class="text-danger">Esta operação é irreversível.</span>
                </div>
                <div class="modal-footer">
                    <form action="registrations" method="POST" @submit.prevent="activateRegistration(state.activateRegistration)">
                        <button type="button" class="btn btn-default" :disabled="state.busy" data-dismiss="modal">Cancelar</button>
                        <submit class="btn btn-primary" :busy="state.busy" message="A registar entrada...">Registar entrada</submit>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
