<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta name="viewport" content="width=device-width" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title></title>
  <link href="styles.css" media="all" rel="stylesheet" type="text/css" />
</head>
<body itemscope itemtype="http://schema.org/EmailMessage">
  <table class="body-wrap">
    <tr>
      <td class="content-wrap aligncenter logo">
      </td>
    </tr>
    <tr>
      <td class="container" width="600">
        <div class="content">
          <table class="main" width="100%" cellpadding="0" cellspacing="0">
            <tr>
              <td class="content-wrap aligncenter">
                <table width="100%" cellpadding="0" cellspacing="0">

                  <tr>
                    <td class="content-block">
                      <h2 class="aligncenter" style="margin-bottom: 10px;">{{ $registration->event->title }}</h2>
                      <p class="aligncenter" style="margin-top: 10px;">Starts on {{ $registration->event->start_at->format('l, jS \\of F Y \a\t H:i') }}</p>
                    </td>
                  </tr>
                  <tr>
                    <td class="content-block aligncenter">
                      <div class="ticket-container">
                        <img src="ticket.jpg">
                      </div>
                      <!-- src="$message->embedData(QrCode::format('png')->size(500)->generate($activationUrl), 'ticket.png')" -->
                    </td>
                  </tr>
                  <tr>
                    <td class="content-block aligncenter"  style="padding-bottom: 40px; border-bottom: #eee 1px solid;">
                      <strong>Thank you for purchasing a ticket to this event.<br>
                      Just show this e-mail at the entrance<br>
                        and you're good to go!</strong>
                      </td>
                    </tr>
                    <tr>
                      <td class="content-block aligncenter">
                        <table class="invoice">
                          <tr>
                            <td style="padding-bottom: 20px;"><strong>Name: </strong>{{ $registration->user->name }}
                            </tr>
                            <tr>
                              <td colspan="2">
                                <table class="invoice-items" cellpadding="0" cellspacing="0">
                                  <thead class="table-head">
                                    <th>
                                      Description
                                    </th>
                                    <th>
                                      Value
                                    </th>
                                  </thead>
                                  <tbody>
                                    <tr>
                                      <td>Ticket "{{ $registration->registrationType->type }}"</td>
                                      <td>€{{ $registration->registrationType->price }}</td>
                                    </tr>
                                    @if($registration->fined)
                                    <tr>
                                      <td>Fine</td>
                                      <td>€{{ $registration->registrationType->fine }}</td>
                                    </tr>
                                    @endif
                                    <tr>
                                      <td><strong>Total</strong></td>
                                      <td><strong>€{{ $registration->total }}</strong></td>
                                    </tr>
                                  </tbody>
                                </table>
                              </td>
                            </tr>
                          </table>
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
              <div class="footer">
                <table width="100%">
                  <tr>
                    <td class="aligncenter content-block">Built with &hearts; by <a href="http://hackathonners.org">Hackathonners</a></td>
                  </tr>
                </table>
              </div>
            </div>
          </td>
        </tr>
      </table>
    </body>
    </html>
