<v-layout>
    <div class="row page-header">
        <div class="col-md-12">
            <span class="page-title">Novo evento</span>
        </div>
    </div>
    <form action="events" method="POST" @submit.prevent="store">
        <!-- First step -->
        <div class="fieldset">
            <span class="label label-primary step">1</span>
            <span class="title">Detalhes do evento</span>
        </div>
        <div :class="['form-group', state.error.messages['title'] ? 'has-error' : '']">
            <label for="event-title">Nome do evento</label>
            <input type="text" class="form-control" id="event-title" v-model="event.title">
            <span v-if="state.error.messages['title']" class="text-danger small">{{ state.error.messages['title'] }}</span>
        </div>
        <div :class="['form-group', state.error.messages['description'] ? 'has-error' : '']">
            <label for="event-description">Descrição do evento (opcional)</label>
            <textarea type="text" class="form-control" id="event-description" v-model="event.description" rows="5"></textarea>
            <span v-if="state.error.messages['description']" class="text-danger small">{{ state.error.messages['description'] }}</span>
        </div>
        <div :class="['form-group', state.error.messages['place'] ? 'has-error' : '']">
            <label for="event-place">Local do evento</label>
            <input type="text" class="form-control" id="event-place" v-model="event.place">
            <span v-if="state.error.messages['place']" class="text-danger small">{{ state.error.messages['place'] }}</span>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div :class="['form-group', state.error.messages['start_at'] ? 'has-error' : '']">
                    <label>Data e hora de início</label>
                    <div class="input-group">
                        <date-picker v-model="state.dates.start_date"></date-picker>
                        <span class="input-group-addon">às</span>
                        <input type="time" v-model="state.dates.start_time" class="form-control">
                    </div>
                    <span v-if="state.error.messages['start_at']" class="text-danger small">{{ state.error.messages['start_at'] }}</span>
                </div>
            </div>
            <div class="col-sm-6">
                <div :class="['form-group', state.error.messages['end_at'] ? 'has-error' : '']">
                    <label>Data e hora de fim</label>
                    <div class="input-group">
                        <date-picker v-model="state.dates.end_date"></date-picker>
                        <span class="input-group-addon">às</span>
                        <input type="time" v-model="state.dates.end_time" class="form-control">
                    </div>
                    <span v-if="state.error.messages['end_at']" class="text-danger small">{{ state.error.messages['end_at'] }}</span>
                </div>
            </div>
        </div>
        <!-- Second step -->
        <div class="fieldset">
            <span class="label label-primary step">2</span>
            <span class="title">Tipos de bilhete</span>
        </div>
        <div class="row hidden-sm hidden-xs">
            <div class="col-sm-6">
                <label>Tipo de bilhete</label>
            </div>
            <div class="col-sm-3">
                <label>Preço</label>
            </div>
            <div class="col-sm-3">
                <label>Multa</label> <i class="fa fa-info-circle text-muted" data-toggle="tooltip" title="Aplicada quando o bilhete é adquirido no dia em que o evento inicia." aria-hidden="true"></i>
            </div>
        </div>
        <div class="row" v-for="(registration, index) in event.registration">
            <div class="col-sm-6">
                <div :class="['form-group', state.error.messages['registration.' + index + '.type'] ? 'has-error' : '']">
                    <div class="input-group">
                        <input type="text" v-model="registration.type" class="form-control" placeholder="Nome do bilhete">
                        <div class="input-group-btn">
                            <button :disabled="event.registration.length < 2" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-angle-down"></i>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a class="text-danger" @click.prevent="removeRegistrationType(index)" href="#">Remover</a></li>
                            </ul>
                        </div>
                    </div>
                    <span v-if="state.error.messages['registration.' + index + '.type']" class="text-danger small">{{ state.error.messages['registration.' + index + '.type'] }}</span>
                </div>
            </div>
            <div class="col-sm-3 col-xs-6">
                <div :class="['form-group', state.error.messages['registration.' + index + '.price'] ? 'has-error' : '']">
                    <div class="input-group">
                        <div class="input-group-addon">€</div>
                        <input type="number" v-model="registration.price" min="0.00" step="0.01" class="form-control" placeholder="Preço" number>
                    </div>
                    <span v-if="state.error.messages['registration.' + index + '.price']" class="text-danger small">{{ state.error.messages['registration.' + index + '.price'] }}</span>
                </div>
            </div>
            <div class="col-sm-3 col-xs-6">
                <div :class="['form-group', state.error.messages['registration.' + index + '.fine'] ? 'has-error' : '']">
                    <div class="input-group">
                        <div class="input-group-addon">€</div>
                        <input type="number" v-model="registration.fine" min="0.00" step="0.01" class="form-control" placeholder="Multa" number>
                    </div>
                    <span v-if="state.error.messages['registration.' + index + '.fine']" class="text-danger small">{{ state.error.messages['registration.' + index + '.fine'] }}</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <button class="btn btn-default" @click.prevent="addRegistrationType">Adicionar tipo</button>
                </div>
            </div>
        </div>
        <!-- Third step -->
        <div class="fieldset">
            <span class="label label-primary step">3</span>
            <span class="title">Bom trabalho, está quase.</span>
        </div>
        <submit :busy="state.busy" message="A criar...">Criar evento</submit>
    </form>
</v-layout>
